---
layout: page
title: Layer Music Project
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">A MUSIC PROJECT &#38; <br> NAMED LAYERS</h1>
          <p class="animated fadeInUp">We love music and thats what we do. Music flows in our blood </br> and we create music not only worth listening but it can take your breath away.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Chaitanya Bulusu</h2>
            <p>India's First and only Ethno DNB Band Krazy Electrons.</p>
          </div>
          <p>With 2 Albums and 10 Years of Experience.</p>
          <p><b color=blue>Chaitanya Bulusu</b> did more than 50 Live gigs.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/chat-1.jpg" alt="chatty">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 style="color:white;" >About Layer</h2>
      <p style="color:yellow;">Layer is a synesthete who sees colors as waves, a Soundscapist, a
      Robotic humanist, an automation and Electronics Engineer , there
      are as many facets to him as there is texture in his fractal, complex
      music.</p>
      <p style="color:yellow;">Layer is Chaitanya Bulusu ( Chatty) and his work transcends genre
      and style – instead focusing more on swing, melody, vibe and
      atmosphere.</p>
      <p><a href="#" class="btn btn-view-works">View Works</a></p>

      {% if site.youtube_username %} <a href="https://bit.ly/{{ site.youtube_username }}"> <i class="fa fa-youtube fa-3x"></i> </a> {% endif %}
      {% if site.soundcloud_username %} <a href="https://soundcloud.com/{{ site.soundcloud_username }}"> <i class="fa fa-soundcloud fa-3x"></i> </a> {% endif %}

      <h4 style="color:yellow;">connect with me</h4>
      {% if site.twitter_username %} <a href="https://twitter.com/{{ site.twitter_username }}"> <i class="fa fa-twitter fa-3x"></i> </a> {% endif %}
      {% if site.facebook_username %} <a href="https://facebook.com/{{ site.facebook_username }}"> <i class="fa fa-facebook fa-3x"></i> </a> {% endif %}

    </div>
  </div>
</div>
</section>

<!--
<!-- Service Start -->
<!--------------------------------------------------------------------------------------------------------------------->
<!-- <section id="service">                                                                                          -->
<!--   <div class="container">                                                                                       -->
<!--     <div class="row">                                                                                           -->
<!--       <div class="section-title">                                                                               -->
<!--         <h2>Music</h2>                                                                                          -->
<!--         <p></p>                                                                                                 -->
<!--       </div>                                                                                                    -->
<!--     </div>                                                                                                      -->
<!--     <div class="row ">                                                                                          -->
<!--       <div class="col-sm-6 col-md-3">                                                                           -->
<!--         <div class="service-item">                                                                              -->
<!--           <i class="icon ion-coffee"></i>                                                                       -->
<!--           <h4>Branding</h4>                                                                                     -->
<!--           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p> -->
<!--         </div>                                                                                                  -->
<!--       </div>                                                                                                    -->
<!--       <div class="col-sm-6 col-md-3">                                                                           -->
<!--         <div class="service-item">                                                                              -->
<!--           <i class="ion-compass"></i>                                                                           -->
<!--           <h4>Web Design</h4>                                                                                   -->
<!--           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p> -->
<!--         </div>                                                                                                  -->
<!--       </div>                                                                                                    -->
<!--       <div class="col-sm-6 col-md-3">                                                                           -->
<!--         <div class="service-item">                                                                              -->
<!--           <i class="ion-image"></i>                                                                             -->
<!--           <h4>App Design</h4>                                                                                   -->
<!--           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p> -->
<!--         </div>                                                                                                  -->
<!--       </div>                                                                                                    -->
<!--       <div class="col-sm-6 col-md-3">                                                                           -->
<!--         <div class="service-item">                                                                              -->
<!--           <i class="ion-bug"></i>                                                                               -->
<!--           <h4>Start Up</h4>                                                                                     -->
<!--           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p> -->
<!--         </div>                                                                                                  -->
<!--       </div>                                                                                                    -->
<!--                                                                                                                 -->
<!--     </div>                                                                                                      -->
<!--   </div>                                                                                                        -->
<!-- </section>                                                                                                      -->
<!--------------------------------------------------------------------------------------------------------------------->

<!-- Call to action Start -->


<!-- Content Start -->
